.container
  %h2
    %a{href: '/'}
      Products
  %a{href: '/products/new'}
    New Product
  %a{href: '/offers/new'}
    New Offer
  .list-group
    - @products.each do |product|
      .list-group-item
        %h4.list-group-item-heading
          = product.title
        %p.list-group-item-text
          = product.description
        %p.list-group-item-text
          = product.price
        %a{href: "/products/#{product.id}/promotions/new"}Add promotion

