.container
  %form{action: '/products', method: 'post'}
    .form-group
      %label{:for => "titleFormControlInput1"} Title
      %input#titleFormControlInput1.form-control{:name => "product[title]",:placeholder => "Kids T-shirt, Lavender Heart", :type => "text"}
      %label{:for => "descriptionFormControlTextarea1"} Description
      %textarea#exampleFormControlTextarea1.form-control{:name => "product[description]", :rows => "3"}
      %label{:for => "priceFormControlInput1"} Unit Price
      %input#priceFormControlInput1.form-control{:name => "product[price]",:placeholder => "100, 20.5", :type => "number", step: '0.01'}
    .form-group
      %label{:for => "descriptionFormControlSelect1"} Example select
      %select#exampleFormControlSelect1.form-control
        %option 1
        %option 2
        %option 3
        %option 4
        %option 5

    %button.btn.btn-primary{:type => "submit"} Submit

